body {
  background-color: rgb(49 54 57);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  user-select: none;
}

#ntp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.text {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem
}

.icon {
  display: inline-block;
  background-color: #00000050;
  border-radius: 50%;
  margin: 0.5rem;
  transition: background-color ease 0.15s;
  box-shadow: 0 0 5px 0 rgb(40, 40, 40);
}
.icon img {
  padding: 1rem;
}
.item {
  width: 100px;
  margin: 1rem;
}

.draggable-mirror {background-color: #00000050}
.draggable-source--is-dragging {visibility: hidden}